body{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    /* not apply the overflow condition to all page */
    /* overflow: hidden; */
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    /* 1 rem = 16px */
}

.main-content{
    background-color: #121212;
    flex: 1;
    /* it simply state that give the 
    space to other div as 
    that much it is neccessary
    and put ramaining
     all space for
     me(me means in which we
      used flex) */
    border-radius: 1rem;
    overflow: auto;
    /* when the content will be overflow 
    then scroll will show */
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    /* when the div is fixed at one position.
    and by taking bottom as 0 it will fix at bottom */
    bottom: 0;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 40px;
    /* 2.5rem */
    opacity: 0.7;
    padding: 0.3rem 0.75rem;
}


.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option:hover{
     opacity: 1;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: .6rem;
    height: 100%;
    padding: 0.7rem 0.75rem;
}

.option{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 10rem;
    background-color: #232323;
    border-radius: 0.7rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 700px;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
}

.badge{
    border-radius: 100px;
    /* font-size: 1.5rem; */
    border: none;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
    height: 2rem;
    width: fit-content;

}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons{
   /* height: 2rem;
   width: 2rem; */
   margin-left: .75rem;
   margin-top: 1.2rem;
}

.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
     margin-right: 1rem;
     margin-top: 0.8rem;
}

.dark-badge{
    color: white;
    background-color: black;
}

@media (max-width: 1000px)
{
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 180px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-text{
    font-size: 0.75rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.control{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 1rem;
    font-weight: 500;
    width: 25%;
}

.control .control-img{
    height: 2rem;
    width: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: .6rem; */
}


/* .control .volume-control{
    height: 2rem;
    width: 5rem;
 
} */

.album{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.album .album-img{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
.album .album-image{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    
}
.album .album-text{
   font-size: 1rem;
    margin-right: 1.3rem;
    font-weight: 500;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: .7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
      display: flex;
      align-items: center;
      justify-content: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: .2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -7px;
}

.volume-range::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100%;
    height: .1rem;
}

.volume-range::-webkit-slider-thumb{
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: #cbf8dc;
    border-radius: 50%;
    margin-top: -7px;
}
